.post{
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
    background-color: white;
}.post_header{
    display: flex;
    align-items: center;
    padding: 20px ;
}
.post-avatar{
    margin-right: 15px;
}

.post_image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.Image__icons{
    padding: 10px;
    width:20px;
    height: 20px;
}
.post_text{
    font-weight: normal;
    padding: 20px;
}
.post__comments{
    margin-left: 20px;
}
.post_commentBox{
    display: flex;
    margin-top: 10px;
}
.post_input{
    flex:1;
    border:none;
    padding: 10px;
    border-top: 1px solid lightgray;
}
.post_button{
    flex:0;
    border:none;
    border-top: 1px solid lightgray;
    color:#6082a3;
    background-color: transparent;
    
}